{% extends 'index.html' %}
{% block body %}

<div class="container">
    <a href="/" class="btn btn-info" role="button">To main page</a>
</div>

<main role="main" class="container">
    <div class="container">
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                <table>
                    {{ form.as_table}}
                </table>
            </div>
            <input class="btn btn-info" type="submit" value="Create"/>
        </form>
    </div>
</main>


{% endblock %}