{% extends 'index.html' %}

<title>{% block title %} Last 10 requests {% endblock %}</title>

{% block body %}

<div class="container">
    <a href="/" class="btn btn-info" role="button">To main page</a>
</div>

<main role="main" class="container">


    <table class="table">
        <thead>
        <tr>
            <th>Reuest</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for req in last_ten %}
        <tr>
            <td>{{ req.req }}</td>
            <td>{{ req.created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</main>


<a href="/books" class="btn btn-info" role="button">Manage Books</a>
<a href="/admin" class="btn btn-info" role="button">Anmin panel</a>


{% endblock %}