{% extends 'index.html' %}

{% block body %}
<div class="container">
    <a href="/" class="btn btn-info" role="button">To main page</a>
    <a href="/last" class="btn btn-info" role="button">Last requests</a>
    <a href="/?asc_button=ASC" class="btn btn-info" role="button" name="asc_button" value="ASC">Sort by ASC</a>
    <a href="/?desc_button=DESC" class="btn btn-info" role="button" name="desc_button" value="DESC">Sort by DESC</a>
</div>

<main role="main" class="container">

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Price</th>
            <th>Date</th>
            <th>ISBN</th>
        </tr>
        </thead>
        <tbody>
        {% for book in all_books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.publish_date }}</td>
            <td>{{ book.isbn }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/books" class="btn btn-info" role="button">Manage Books</a>
    <a href="/admin" class="btn btn-info" role="button">Anmin panel</a>

</main>

{% endblock %}